ul {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: #c9b09b;
    overflow: hidden;
}

.object {
    font-size: 1rem;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 13px 12px;
}

li a:hover {
    background: var(--color-bg);
}

/* ============== MEDIA QUERTES (SMALL DEVICE) ============== */
@media screen and (max-width: 620px) {
    li a {
      padding: 14px 18;
      gap: 1rem;
      font-size: 0.5rem;
    }

    .object{
        font-size: 1rem;
    }
}